.p{
	color:blue;
	font-style: italic;
}
a{
	color:blue;
}
.h2{
font-size: 30px;
font-weight: bold;
}
.d{
	color: darkolivegreen;
}
.y{
	color: rgb(255, 0, 0);
	font-weight: bold
}
.exp {
	width: 10px;
	height: 10px;
	background-image: url(extref.png);
	background-repeat: no-repeat;
	background-size: cover;

}