*{box-sizing: border-box;}
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.head{
	margin-top: 0px;
	margin-left: 68px;
	margin-right: 102px;
	margin-bottom: 22px;
	padding-top: 10px;
}
.container-head{
	background: #C4C4C4;
	height: 72px;
	width: 100%;	
}
.logo{
	background: url(images/image\ 1.png) left no-repeat ;
	float: left;
	height: 53px;
	width: 60px;
	mix-blend-mode: multiply;
}
.logo-text{
	margin:0px;
	margin-top: 17px;
	font-family: 'Open Sans', sans-serif;
}
.search{
	float: top;
	margin: -30px;
	width: 540px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 31px;
	margin-left: 408px;
}
.search-text{
	height: 24px;
	width: 280px;
	margin-top: -34px;
	margin-left: 420px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	opacity: 0.5;
}
.spisok-nastroek{
	float: right;
	padding: 15px;
	margin-top: -50px;
	list-style-type: none;
	
}
.container-menu{
	
	padding-bottom: 80px;
}
.categories{
	float: left;
	width: 145px;
	height: 40px;
	background-color: #0772BF;
	border-radius: 4px;
	text-align: center;
	margin-left: 75px;
	color: #FFFFFF;
	margin: 18px 32px;
	margin-left: 75px;
	padding-top: 10px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
}
.boots{
float: left;
margin: 30px 32px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}
.accessories{
float: left;
margin:  30px 32px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}
.apparel{
	float: left;
	margin:  30px 32px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}
.snowboard{
	float: left;
	margin: 30px 32px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}
.brands{
	float: left;
	margin:  30px 32px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	
}
.sale{
	float: left;
	margin:  30px 32px;
	color: #FF0C0C;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}
.main-banner{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/st_banner\ 1.jpg) no-repeat;
	width: 100%;
	height: 464px;
	background-size: cover;
	
}
.main-text-banner{

	padding-top: 128px;
	padding-left: 153px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	align-items: center;
	letter-spacing: 0.01em;

	color: #FFFFFF;
}
.text-banner{
	padding-top: 12px;
	padding-left: 153px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	letter-spacing: 0.01em;

	color: #FFFFFF;
}
.button-banner{
	width: 144px;
	height: 40px;
	margin-left: 153px;
	margin-top: 49px;
	padding-top: 8px;
	padding-right: 4px;

	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 36px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.03em;
	
	color: #FFFFFF;
}

.conteiner-snowboarsd{
	width: 1200px;
	margin: 0 auto;
}
.menu-snowboarsd{
	float: left;
}
.name-menu-snowboarsd{
margin-left: 3px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;


letter-spacing: 0.03em;

color: #000000;
}
.name-menu-cattegories{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;



letter-spacing: 0.03em;

color: #000000;
}
.name-menu-vector{
padding-left: 157px;
}
.name-menu-all{
padding-top: 26px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;



letter-spacing: 0.03em;
color: #BFBEBE;;
}
.name-menu-view{
padding-top: 74px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;


letter-spacing: 0.03em;

color: #000000;

}
.horizont-line{
	border: 0.1px solid #BFBEBE;
	width: 256px;
	margin-top: 11px;
}
.name-menu{
	margin: 0px;
	padding-top: 15px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

}
.gender-list{
margin-top: 9px;
margin-bottom: 0px;
padding-left: 20px;
list-style-image:url(images/Rectangle\ 2.png);

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.03em;

color: #6C6C6C;
}
.list{
	margin-top: 9px;
	margin-bottom: 0px;
	padding-left: 20px;
	list-style-image:url(images/Rectangle\ 2.png);
	
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.03em;
	
	color: #BFBEBE;
	}
.gender-vector{
	padding-left: 189.5px;
}
.menu-view{
	padding-top: 11px;
	
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	
	
	letter-spacing: 0.03em;
	
	color: #000000;
	
	}

.brans-vector{
	padding-left: 203.5px;
}
.shape-vector{
	padding-left: 97.5px;
}
.lenght-vector{
	padding-left: 53.5px;
}
.price-vector{
	padding-left: 216.5px;
}
.style-vector{
	padding-left: 111.5px;
}
.horizont-line-snowbord{
	border: 0.1px solid #BFBEBE;
	width: 256px;
	margin-top: 26px;
}
.flex-vector{
	padding-left: 223.5px;
}
.matches{
	padding-left: 27.5px;
	float: left;
	
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.03em;

color: #000000;
}
.popular{
	float: right;
background: #FFFFFF;
border: 1px solid #BFBEBE;
width: 222.97px;
height: 32px;
}
.popular-word{
	margin: 0;
	padding-left: 8.26px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: left;
letter-spacing: 0.03em;
color: #949494;
}
.view{
float: right;
width: 128px;
height: 44px;
margin-right: 65px;


border: 1px solid #C8C8C8;
border-radius: 4px;
}
.popular-number{
	padding-left: 25px;
	padding-right: 0px;
	color: #000000;
}
.view-vector{
	padding-left: 0px;
}
.view-word{
	margin: 0;
	padding-left: 12px;
	padding-top: 12px;
	padding-bottom: 12px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: left;
letter-spacing: 0.03em;
color: #949494;
}
.view-number{
	padding-left: 40px;
	padding-right: 10px;
	color: #000000;
}
.view-vector{
	padding-left: 0px;
}
.main-menu-product{
margin-top: 10px;
float: right;
width: 900px;


}
.snowboard-product{
	text-align: center;
	float: left;
	width: 33%;
	margin-top: 50px;
}
.snowboard-product-text{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
align-items: center;
letter-spacing: 0.03em;
font-size: 14px;
color: #7A7A7A;
padding: 20px 20px 0px 0px;
margin: 0px 10px;
}
.snowboard-product-text-bold{
	font-weight: 600;
	color: #000000;
}
.advrtyising{
	
background: #FFFFFF;


}
.advrtyising-text{
	
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24.51px;

align-items: center;
text-align: center;
letter-spacing: 0.03em;
color: #000000;
}
.advrtyising-text span{
	font-size: 24px;
	line-height: 32.68px;
	padding-right: 100px;padding-left: 100px;
}
.advrtyising-travel{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

align-items: center;
text-align: center;
letter-spacing: 0.03em;
text-decoration-line: underline;

color: #000000;
}
.sell-prise{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #A9A9A9;

}
.sell-price-bold{
	font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
padding-right: 10px;
color: #000000;
}
.page{
	padding-left: 430px;
	font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.03em;
margin-top: 34px;
color: #BFBEBE;
width: 100%;
float:left;
}
.page-ramka{
	background: #FFFFFF;
	border: 1px solid #BFBEBE;
	box-sizing: border-box;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #000000;
}
.line-down{
margin: 0 auto;
width: 1136px;;
}

.best{
	width: 1200px;
	text-align: center;
	margin: 0 auto;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	color: #000000;
}
.best-sellers{
	margin: 0 auto;
}
.best-product{
	margin-right: 16px;
	float: left;
	width: 272px;
	height: 272px;
	background: #FFFFFF;
border: 1px solid #BFBEBE;

text-align: center;
}
.best-name{
	padding-left: 20px;
	margin-top: 15px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: left;
	color: #000000;

}
.best-sell{
	padding-left: 20px;
	margin-top: 33px;
	margin-bottom: 10px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	text-align: left;
	color: #000000;
}
.advrtyising{
	text-align: center;
	float: left;
	width: 33%;
	margin-top: 50px;
	background: #FFFFFF;
	border: 1px solid #BFBEBE;
	box-sizing: border-box;
}
.advrtyising img{
	background-size: cover;
	
	
}
.line-down-down{
	margin-top: 64px;
	width: 1136px;;
}
.info{
	height: 250px;
}
.down-info{
	width: 50%;
	height: 203px;
	float: left;
}
button{
	font-family: 'Open Sans';
	width: 136px;
	height: 36px;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
	background: #1977DA;
	border-radius: 5px;
	padding: 0;
	margin: 0px 215px 0px 215px;
}
.your-needs{
	
	text-align: center;
}
.email{
	width: 136px;
height: 36px;

float: right;
background: #1977DA;
border: 1px solid #1977DA;
box-sizing: border-box;
border-radius: 0px 5px 5px 0px;
padding-top: 7px;
margin-top: 0;
font-weight: 700;
font-size: 16px;
line-height: 22px;
margin-right: 250px;



align-items: center;
text-align: center;


color: #FFFFFF;
}
.email2{
	width: 224px;
height: 36px;
left: 0px;
top: 84px;

background: #FFFFFF;
border: 1px solid #BFBEBE;
box-sizing: border-box;
border-radius: 5px 0px 0px 5px;
}
.need1{
font-weight: 700;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #000000;
}
.need2{
	text-align: center;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #000000;
}
.blue-line{
	width: auto;
	height: 40px;
	background: #1977DA;
}
.container-blue-line{
	padding-left: 163px;
	padding-right: 163px;
	align-items: center;
}
.line-component{
	float: left;
	margin: 0px;
	padding-left: 65px;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 8px;
}
.down-menu-column{
	float: left;
	width: 25%;
}

.down-menu{
	margin-bottom: 20px;
}
.down-menu-column li{
	list-style-type: none;
	padding-bottom: 8px;

font-size: 12px;
line-height: 16px;
}
.first-text{
	font-weight: bold;
	padding-bottom: 15px;
}
.main-logo-down{
margin-left: 497px;
}
