* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Rubik';

}

a {
	color: inherit;
	text-decoration: none;
}

.header {
	padding: 46px 0;
}

.header a {
	margin-left: 10px;
	margin-right: 12px;
	font-family: 'Rubik';
	font-family: 'Rubik';

}

.logo {
	margin-right: 387px;
}

.header .header-flex {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

select {
	width: 56px;
	height: 29px;
	background-color: #ffffff;
	color: #ffffff;
	background-color: #147E45;
	border-radius: 4px;
	font-family: 'Rubik';
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main {
	margin-top: 125px;
	margin-bottom: 160px;
}

.main .products {

	display: grid;


	display: grid;
	grid-template-columns: 500px 400px;
	grid-auto-rows: 150px;
	grid-gap: 90px;
}

.product {
	border: 2px #053ad7;
}



.main h2 {
	margin-bottom: 90px;
}

.main .product {
	display: flex;
	justify-content: space-evenly;

}



.main button {
	color: #147E45;
	text-decoration: none;
	padding: 21px 119px 19px 118px;
	border-radius: 10px;
	background: #ffffff;
	border: 2px solid #147e45;

	transition: 0.2s;
}

.product {
	width: 551px;
	height: 284px;
}


.product-text {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
}



.product-text h3 {
	margin-bottom: 15px;
	font-size: 19px;
	line-height: 23px;
}

.product-text p {
	margin-bottom: 15px;
	font-size: 17px;
	line-height: 25px;
	color: #4f5665;
}



.contact {
	margin-top: 75px;
	margin-bottom: 100px;
}

.contact .container {
	display: flex;
	justify-content: space-evenly;

}

.main-text {
	width: 525px;
	height: 300px;
	display: flex;
	flex-direction: column;
}

.main-text h2 {
	margin-bottom: 15px;
	font-size: 35px;
	line-height: 41px;
}

.main-links a {
	margin-right: 10px;
}

.connection {
	margin-bottom: 124px;
}

.connection .container {
	width: 1200px;
}

button {
	width: 300px;
	height: 60px;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	color: white;
	text-decoration: none;
	padding: 21px 119px 19px 118px;
	border-radius: 10px;
	border: #147E45;
	background: #147E45;
	transition: 0.2s;
}

.questions {

	height: 213px;
	border-radius: 10px;
	padding: 60px 100px 60px 100px;
	-webkit-box-shadow: 0 4px 63px hsl(0deg 0% 65% / 25%);

}

.connection .questions {
	display: flex;
	justify-content: space-around;
}

.questions h2 {
	font-size: 35px;
	line-height: 45px;
	margin-bottom: 14px;
}

.questions p {
	font-size: 17px;
	line-height: 25px;

}

.questions button {
	margin-top: 21px;
	font-size: 17px;
	line-height: 25px;
	padding: 21px 80px 19px 80px;
}

.footer .container {
	width: 1100px;
}

.footer .footer-main {
	width: 1100px;
	height: 214px;
	display: flex;
	justify-content: space-between;
}

.footer li {
	list-style-type: none;
	margin-bottom: 12px;
}

.footer-info {
	display: flex;
	justify-content: space-between;
}

.footer .info-item {
	margin-right: 55px;

}

.footer-item {
	font-weight: 500;
	Font-size: 18px;
	Line-height: 30px;
	color: #0B132A;
}

.footer-address {
	margin-bottom: 27px;
	Font-size: 16px;
	Line-height: 19px;
	color: #4F5665;
}

.footer-address-item {
	margin-bottom: 40px;

}

.footer-address-link {
	color: #147E45;
	Font-size: 16px;
	Line-height: 15px;
}

.footer-bottom {
	color: #AFB5C0;
	Font-size: 16px;
	Line-height: 30px;
	margin-bottom: 40px;
}

.popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}

.popup {
	position: absolute;
	background: #ffffff;
	width: 600px;
	height: 675px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	padding-top: 60px;
}

.popup form {
	display: flex;
	flex-direction: column;
}

.popup form input {
	margin-bottom: 30px;
	height: 50px;
	font-size: 20px;
	border: 2px solid #000000;
}

.popup form input[type="submit"] {
	background: #000000;
	color: #ffffff;
	font-size: 24px;
}

.close-popup {
	width: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.no-scroll {
	overflow-y: hidden;
}

form .logo {
	margin: 0 auto;
	padding-bottom: 50px;
}

.form-label {

	display: inline-block;
	position: relative;
	font-size: 16px;
	margin-bottom: 8px;
	color: #4f5665
}

.form-label:after {
	content: "*";
	display: inline-block;
	width: 4px;
	height: 4px;
	color: red
}

.form-input {
	font-family: "Rubik";
	width: 100%;
	background: #fff;
	border-radius: 10px;
	padding: 16px;
	border-color: rgba(79, 86, 101, 0.1);
	color: #0b132a;
	font-size: 16px
}

.form-textarea {
	font-family: "Rubik";
	width: 100%;
	background: #fff;
	border-radius: 10px;
	padding: 16px;
	border-color: rgba(79, 86, 101, 0.1);
	color: #0b132a;
	font-size: 16px
}

.form-checkbox-text {
	font-family: "Rubik";
	color: #B9BBC1;
	font-size: 12px;
	line-height: 16px;
}

.form-checkbox-text strong {
	font-family: "Rubik";
	color: #147E45;
	font-size: 12px;
	line-height: 16px;
}

.popup button {
	margin: 30px 140px;
	padding: 21px 71px 19px 70px;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.popup span {
	margin-top: -30px;

}