div{
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0 auto;
}
.bio{
	position: absolute; left: 35px;
}
.smoking{
	position: absolute; left: 100px; top: 57px;
}
.man{
	position: absolute; left: 250px; top: 0px;
}
.yin{
	position: absolute; right: 173px; top: 180px;
}
img:hover {
	z-index: 500;
	transform: scale(1.2);
	
}