body,p{
	padding: 0px;
	margin: 0px;
}
p{
	float: left;
	width: 175px;
}
.main{
	border: red double;
	
}
.main .first{
	width: 100%;
}
.name{
	overflow: hidden;
	padding: 0 10px;
}
.name input
{
	float: right;
	width: 100%;

}

.pub{
	float: left;
	padding-right: 10px;
	
}
.both{
	clear: both;
}

.check{
	float: left;
}
textarea{
	float: left;
	width: 100%;
}